@page "/"

<PageTitle>Home</PageTitle>

<div class="container-xxl border border-4 border-dark" style="height:100%; width: 100%">
  <Map></Map>
</div>

@code{
  static class cookies{
    public static 
  }
}