.main{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2vw;
}
.listContainer{
    display: flex;
    flex-direction: column;
    width: 17vw;

}
.list{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;    
    overflow-y: auto;
    max-height: 20vh;
    border: 2px solid black;
    border-radius: 5px;
}
.listTitle{
  padding-top: 2%;
}
.truncate-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.truncate-text:hover{
    overflow: visible;
    white-space: wrap;
}
