#map{
    background-image:url('img/map.png');/*url('img/BuildingBlueprint.jpg')*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 75%;
    width: 75vh;
    border: 3px solid black;
    border-radius:10px; 
}
.backButton{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 5vw;
    height: auto;
    margin-top: 2%;
    margin-left: 2%;
    position: absolute;
    z-index: 99999999;
}
.elementTitle{
    font-size: 2px;
}