table[b-vsokelsdoc]{
  text-align: center;
}
td[b-vsokelsdoc]{
  
  border-radius: 20px;
}
.main[b-vsokelsdoc]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    height: 25vh;
    width: 30vw;
    padding-left: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
.monthManagement *[b-vsokelsdoc]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.monthManagement .navButtons[b-vsokelsdoc]{
    font-size: 30px;
}
.navButtons[b-vsokelsdoc]{
  color: black;
}
.navButtons:hover[b-vsokelsdoc]{
  color: grey;
}
.monthDay[b-vsokelsdoc]{
  align-self: center;
}


