
table[b-3vplxajmae]{
  text-align: center;
  caption-side: top;
  margin-bottom: 2%;
}

td[b-3vplxajmae]{
  
  border-radius: 20px;
}
.main[b-3vplxajmae]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    height: 60vh;
    width: 30vw;
    padding-left: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
.monthManagement *[b-3vplxajmae]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.monthManagement .navButtons[b-3vplxajmae]{
    font-size: 30px;
}
.navButtons[b-3vplxajmae]{
  color: black;
}
.navButtons:hover[b-3vplxajmae]{
  color: grey;
  cursor: pointer;
}
.monthDay[b-3vplxajmae]{
  align-self: center;
}
.heatKey[b-3vplxajmae]{
  height: 5%;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  background: linear-gradient(to right, white,rgb(90,90,255));
}
.heatKeyValues[b-3vplxajmae]{
  display:flex;
  justify-content: space-between;
}

