p[b-8grji1h6qi]{
    margin: 0;
    padding: 0;
}
.main[b-8grji1h6qi]{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2vw;
}

.listContainer[b-8grji1h6qi]{
    display: flex;
    flex-direction: column;
    width: 17vw;

}
.list[b-8grji1h6qi]{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;    
    overflow-y: auto;
    max-height: 22vh;
    border: 2px solid black;
    border-radius: 5px;
}
.listTitle[b-8grji1h6qi]{
  padding-top: 2%;
}
.columnNames[b-8grji1h6qi]{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    border-bottom: 2px solid black;
}
.listElement[b-8grji1h6qi]{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    border-bottom: 1px solid black;
}
.Alert[b-8grji1h6qi]{
    text-align : center;
    width: 25%;
    height: 50%;
    font-size: 8px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 15px;
}
.title[b-8grji1h6qi]{
    max-width: 50%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title:hover[b-8grji1h6qi]{
    overflow: visible;
    overflow-wrap: break-word;
    text-overflow: wrap;
}
.interactions[b-8grji1h6qi]{
    margin-right: 2%;
}
.settingsButton[b-8grji1h6qi]{
    align-self: start;
    width: 1vw;
    height: 1vw;
    background-size: cover;
    font-size: 23px;
    cursor:pointer;
}
.settingsButton:hover[b-8grji1h6qi]{
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
}
