p[b-nr6u10gl2j]{
    margin: 0;
    padding: 0;
}
.main[b-nr6u10gl2j]{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2vw;
}
.listContainer[b-nr6u10gl2j]{
    display: flex;
    flex-direction: column;
    width: 17vw;

}
.list[b-nr6u10gl2j]{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;    
    overflow-y: auto;
    max-height: 20vh;
    border: 3px solid black;
    border-radius: 5px;
}
.listElement[b-nr6u10gl2j]{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    border-bottom: 2px solid black;
}
.title[b-nr6u10gl2j]{
    width: 60%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title:hover[b-nr6u10gl2j]{
    overflow: visible;
    overflow-wrap: break-word;
    text-overflow: wrap;
}
.interactions[b-nr6u10gl2j]{
    margin-right: 2%;
}
.listTitle[b-nr6u10gl2j]{
  padding-top: 2%;
}
.columnNames[b-nr6u10gl2j]{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    border-bottom: 3px solid black;
}
.truncate-text[b-nr6u10gl2j] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.truncate-text:hover[b-nr6u10gl2j]{
    overflow: visible;
    white-space: wrap;
}
