
#map[b-3263mq7ju5]{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-position: center center;
    height: 78%;
    width: 75vh;
    border: 2px solid black;
    border-radius:10px; 
}
.backButton[b-3263mq7ju5]{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 5vw;
    height: auto;
    margin-top: 2%;
    margin-left: 2%;
    position: absolute;
    z-index: 99999999;
    cursor: pointer;
}